<div class="container">
    <!-- <div class="row">
        <div class="col-12">
            <form name="login" #form="ngForm">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input name="userName" type="text" [(ngModel)]="userName" class="form-control"  placeholder="Username" required>
                    <p class="login__invalid" *ngIf="invalidUserName">Invalid User Name</p>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input class="form-control" type="password" placeholder="Enter Password">
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 text-center">
            <button class="btn btn-primary mr-3" routerLink="/create-account">Create Account</button>
            <button [disabled]="userName == null" (click)="loginAndPassUserName()" class="btn btn-primary">Login</button>
        </div>
    </div> -->
</div>