<div class="show-car">
    <h3 class="show-car__header">Cars Report By: {{userName}}</h3>
    <div class="show-car__data" *ngFor="let user of usersCars">
        <p (click)="deleteCar(user)" class="show-car__button show-car__inline"><strong>x</strong></p>
        <p class="show-car__field show-car__inline">Make: {{user.make}} | Model: {{user.model}} | Year: {{user.year}}</p>
    </div> 
</div>
<div class="mt-3">
    <button (click)="getUsersCars()" class="btn btn-primary">Refresh Cars</button>
</div>